body {  
    transition: background-color 0.3s, color 0.3s;  
}  
h1 {  
    margin-top: 20px;  
}  
.highlight {  
    color: blue;  
    font-weight: bold;  
}  
.info {  
    margin-top: 20px;  
    font-size: 16px;  
}  
.comment {  
    margin-top: 5px;  
    font-size: 12px;  
    color: gray;  
}  
/* Estilos para o tema escuro */  
.dark-mode {  
    background-color: #333;  
    color: #fff;  
}  
.dark-mode table {  
    background-color: #444;  
}  
.dark-mode th {  
    background-color: #555;  
}  
/* Animações */  
.table {  
    transition: all 0.3s ease;  
}